go 1.20

use (
	"./Golang Problems/Basic/01Program"
	"./Golang Tutorials/00Try"
	"./Golang Tutorials/01hello"
	"./Golang Tutorials/02variables"
	"./Golang Tutorials/03userinput"
	"./Golang Tutorials/04datatypes"
	"./Golang Tutorials/05arrays"
	"./Golang Tutorials/06slice"
	"./Golang Tutorials/07conditions"
	"./Golang Tutorials/08switch"
	"./Golang Tutorials/09loops"
	"./Golang Tutorials/10functions"
	"./Golang Tutorials/11struct"
	"./Golang Tutorials/12maps"
	"./Golang Tutorials/13defer"
	"./Golang Tutorials/14files"
	"./Golang Tutorials/15webrequest"
	"./Golang Tutorials/16packages"
	"./Golang Tutorials/17strings"
	"./Golang Tutorials/18typecasting"
	"./Golang Tutorials/learnpackage"
	./Project/todoctl
	./toolbox
)
